In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('Case_Study_1.csv')

In [14]:
df.head()

,Timestamp,Enter your Roll No. (eg. 31401),Gender,Enter your FE aggregate CGPA: (eg. 9.90),Enter your SE aggregate CGPA: (eg. 8.20),Sem 3 CGPA (eg. 9.60),Discrete Mathematics (eg. C),Eng. Mathematics III,Data Structures and Algorithms,Software Engineering,...,OOP and Computer Graphics Lab,Digital Electronics Lab,Business Communication Skills Lab,Audit Course 3 (eg. Foreign Language),Engineering Mathematics 3 Lab,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Microprocessor Lab
0,31/01/2023 14:54:12,31484,Female,9.95,9.73,9.40,A,B,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/02/2023 09:39:47,31418,Male,10.00,8.84,9.91,A,O,B,D,...,B,C,D,C,O,NaN,NaN,NaN,NaN,NaN
2,01/02/2023 09:41:38,31471,Male,8.20,7.86,9.02,A,B,B,A,...,D,A,O,O,D,NaN,NaN,NaN,NaN,NaN
3,01/02/2023 09:42:11,31450,Male,9.78,8.81,9.57,A,A,A,B,...,A,A,B,A,B,NaN,NaN,NaN,NaN,NaN
4,01/02/2023 09:44:32,31480,Female,10.00,9.20,10.00,A,O,O,C,...,C,C,O,A,O,NaN,NaN,NaN,NaN,NaN

In [15]:
df.dropna()

Empty DataFrame
Columns: [Timestamp, Enter your Roll No. (eg. 31401) , Gender, Enter your FE aggregate CGPA: (eg. 9.90), Enter your SE aggregate  CGPA: (eg. 8.20), Sem 3 CGPA (eg. 9.60), Discrete Mathematics (eg. C),   Eng. Mathematics III  , Data Structures and Algorithms  , Software Engineering  , Microprocessor  , Principles of Programming Languages   , Data Structures and Algorithms Lab   , Microprocessor Lab, Code of Conduct  , Project Based Learning  , Audit Course 4 (Water Management, Intellectual Rights & Patents, etc), Fundamentals of Data Structures  , Object Oriented Programming  , Computer Graphics   , Digital Electronics and Logic Design   , Humanity and Social Science   , Data Structures Lab  , OOP and Computer Graphics Lab  , Digital Electronics Lab  , Business Communication Skills Lab   , Audit Course 3 (eg. Foreign Language), Engineering Mathematics 3 Lab, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31, Microprocessor Lab  ]
Index: []

[0 rows x 33 columns]

In [16]:
df_filled = df.fillna(method='ffill', axis=1)

In [17]:
print(df_filled)

              Timestamp Enter your Roll No. (eg. 31401)   Gender  \
0   31/01/2023 14:54:12                            31484  Female
1   01/02/2023 09:39:47                            31418    Male
2   01/02/2023 09:41:38                            31471    Male
3   01/02/2023 09:42:11                            31450    Male
4   01/02/2023 09:44:32                            31480  Female
5   01/02/2023 09:44:53                            31479  Female
6   01/02/2023 09:45:13                            31401    Male
7   01/02/2023 09:45:21                            31448    Male
8   01/02/2023 09:48:13                            31436    Male
9   01/02/2023 09:49:38                            31433    Male
10  01/02/2023 09:53:00                            31475    Male
11  01/02/2023 09:53:33                            31474    Male
12  01/02/2023 09:55:21                            31420    Male
13  01/02/2023 10:59:57                            31464    Male
14  01/02/2023 12:45:41                            31468  Female
15  01/02/2023 13:11:48                            31435    Male
16  01/02/2023 14:54:42                            31427    Male
17  01/02/2023 18:47:04                            31426  Female
18  02/02/2023 09:23:46                            31458  Female
19  02/02/2023 09:26:12                            31455    Male
20  02/02/2023 09:28:10                            31451    Male
21  02/02/2023 13:08:47                            31406    Male
22  02/02/2023 13:34:42                            31462    Male
23  02/02/2023 14:08:01                            31425    Male
24  14/02/2023 12:09:19                            31413  Female

   Enter your FE aggregate CGPA: (eg. 9.90)  \
0                                      9.95
1                                      10.0
2                                       8.2
3                                      9.78
4                                      10.0
5                                      9.68
6                                       9.3
7                                       9.8
8                                       9.8
9                                      10.0
10                                     10.0
11                                      9.0
12                                      9.6
13                                     6.65
14                                   Female
15                                      9.0
16                                     10.0
17                                   Female
18                                     9.98
19                                     10.0
20                                     Male
21                                     10.0
22                                     9.82
23                                     9.93
24                                     10.0

   Enter your SE aggregate  CGPA: (eg. 8.20) Sem 3 CGPA (eg. 9.60)  \
0                                       9.73                   9.4
1                                       8.84                  9.91
2                                       7.86                  9.02
3                                       8.81                  9.57
4                                        9.2                  10.0
5                                        8.9                  8.65
6                                       8.18                  9.14
7                                       8.48                   9.7
8                                        8.0                   8.6
9                                        9.3                  9.86
10                                       9.0                  9.55
11                                       8.3                   8.0
12                                       8.0                  9.09
13                                      8.14                  7.23
14                                      8.63                  9.59
15                                       8.6                  9.45
16                                      9.27                  9.77
17                                      7.96                  8.82
18                                      9.45                   8.0
19                                      8.57                  9.16
20                                       8.8                   9.8
21                                      9.98                   9.5
22                                      8.43                  9.59
23                                      9.26                  10.0
24                                       9.3                  9.55

   Discrete Mathematics (eg. C)   Eng. Mathematics III    \
0                             A                        B
1                             A                        O
2                             A                        B
3                             A                        A
4                             A                        O
5                             A                        O
6                             A                        B
7                             B                        C
8                             B                        B
9                             O                        O
10                            A                        A
11                            C                        B
12                            A                        B
13                            B                        B
14                            A                        B
15                            O                        C
16                            O                        O
17                            O                        D
18                            A                        B
19                            B                        A
20                            B                        C
21                            B                        A
22                            O                        B
23                            A                        A
24                            A                        A

   Data Structures and Algorithms   Software Engineering    ...  \
0                                 B                      B  ...
1                                 B                      D  ...
2                                 B                      A  ...
3                                 A                      B  ...
4                                 O                      C  ...
5                                 A                      B  ...
6                                 B                      B  ...
7                                 A                      C  ...
8                                 B                      B  ...
9                                 B                      C  ...
10                                B                      B  ...
11                                B                      B  ...
12                                A                      A  ...
13                                B                      B  ...
14                                O                      O  ...
15                                C                      B  ...
16                                B                      A  ...
17                                B                      C  ...
18                                B                      A  ...
19                                B                      B  ...
20                                O                      D  ...
21                                A                      B  ...
22                                D                      D  ...
23                                O                      O  ...
24                                A                      B  ...

   OOP and Computer Graphics Lab   Digital Electronics Lab    \
0                                B                         B
1                                B                         C
2                                D                         A
3                                A                         A
4                                C                         C
5                                B                         A
6                                O                         A
7                                A                         B
8                                C                         O
9                                O                         O
10                               B                         A
11                               A                         A
12                               A                         A
13                               B                         B
14                               A                         O
15                               A                         A
16                               O                         A
17                               B                         A
18                               A                         B
19                               A                         B
20                               B                         C
21                               A                         O
22                               A                         A
23                               B                         A
24                               A                         A

   Business Communication Skills Lab    Audit Course 3 (eg. Foreign Language)  \
0                                     B                                     B
1                                     D                                     C
2                                     O                                     O
3                                     B                                     A
4                                     O                                     A
5                                     B                                     O
6                                     O                                     O
7                                     A                                     B
8                                     A                                     A
9                                     O                                     A
10                                    B                                     A
11                                    A                                     O
12                                    A                                     A
13                                    A                                     F
14                                    O                                     O
15                                    A                                     O
16                                    O                                     O
17                                    O                                     O
18                                    A                                     A
19                                    A                                     A
20                                    D                                     A
21                                    B                                     A
22                                    A                                     B
23                                    A                                     A
24                                    O                                     O

   Engineering Mathematics 3 Lab Unnamed: 28 Unnamed: 29 Unnamed: 30  \
0                              B           B           B           B
1                              O           O           O           O
2                              D           D           D           D
3                              B           B           B           B
4                              O           O           O           O
5                              O           O           O           O
6                              A           A           A           A
7                              B           B           B           B
8                              A           A           A           A
9                              O           O           O           O
10                             O           O           O           O
11                             A           A           A           A
12                             B           B           B           B
13                             C           C           C           C
14                             A           A           A           A
15                             B           B           B           B
16                             A           A           A           A
17                             B           B           B           B
18                             A           A           A           A
19                             A           A           A           A
20                             D           D           D           D
21                             A           A           A           A
22                             A           A           A           A
23                             B           B           B           B
24                             A           A           A           A

   Unnamed: 31 Microprocessor Lab
0            B                    B
1            O                    O
2            D                    D
3            B                    B
4            O                    O
5            O                    O
6            A                    A
7            B                    B
8            A                    A
9            O                    O
10           O                    O
11           A                    A
12           B                    B
13           C                    C
14           A                    A
15           B                    B
16           A                    A
17           B                    B
18           A                    A
19           A                    A
20           D                    D
21           A                    A
22           A                    A
23           B                    B
24           A                    A

[25 rows x 33 columns]

In [18]:
df_filled.head()

,Timestamp,Enter your Roll No. (eg. 31401),Gender,Enter your FE aggregate CGPA: (eg. 9.90),Enter your SE aggregate CGPA: (eg. 8.20),Sem 3 CGPA (eg. 9.60),Discrete Mathematics (eg. C),Eng. Mathematics III,Data Structures and Algorithms,Software Engineering,...,OOP and Computer Graphics Lab,Digital Electronics Lab,Business Communication Skills Lab,Audit Course 3 (eg. Foreign Language),Engineering Mathematics 3 Lab,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Microprocessor Lab
0,31/01/2023 14:54:12,31484,Female,9.95,9.73,9.4,A,B,B,B,...,B,B,B,B,B,B,B,B,B,B
1,01/02/2023 09:39:47,31418,Male,10.0,8.84,9.91,A,O,B,D,...,B,C,D,C,O,O,O,O,O,O
2,01/02/2023 09:41:38,31471,Male,8.2,7.86,9.02,A,B,B,A,...,D,A,O,O,D,D,D,D,D,D
3,01/02/2023 09:42:11,31450,Male,9.78,8.81,9.57,A,A,A,B,...,A,A,B,A,B,B,B,B,B,B
4,01/02/2023 09:44:32,31480,Female,10.0,9.2,10.0,A,O,O,C,...,C,C,O,A,O,O,O,O,O,O

In [11]:
df_filled

,Timestamp,Enter your Roll No. (eg. 31401),Gender,Enter your FE aggregate CGPA: (eg. 9.90),Enter your SE aggregate CGPA: (eg. 8.20),Sem 3 CGPA (eg. 9.60),Discrete Mathematics (eg. C),Eng. Mathematics III,Data Structures and Algorithms,Software Engineering,...,OOP and Computer Graphics Lab,Digital Electronics Lab,Business Communication Skills Lab,Audit Course 3 (eg. Foreign Language),Engineering Mathematics 3 Lab,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Microprocessor Lab
0,31/01/2023 14:54:12,31484,Female,9.95,9.73,9.4,A,B,B,B,...,B,B,B,B,B,B,B,B,B,B
1,01/02/2023 09:39:47,31418,Male,10.0,8.84,9.91,A,O,B,D,...,B,C,D,C,O,O,O,O,O,O
2,01/02/2023 09:41:38,31471,Male,8.2,7.86,9.02,A,B,B,A,...,D,A,O,O,D,D,D,D,D,D
3,01/02/2023 09:42:11,31450,Male,9.78,8.81,9.57,A,A,A,B,...,A,A,B,A,B,B,B,B,B,B
4,01/02/2023 09:44:32,31480,Female,10.0,9.2,10.0,A,O,O,C,...,C,C,O,A,O,O,O,O,O,O
5,01/02/2023 09:44:53,31479,Female,9.68,8.9,8.65,A,O,A,B,...,B,A,B,O,O,O,O,O,O,O
6,01/02/2023 09:45:13,31401,Male,9.3,8.18,9.14,A,B,B,B,...,O,A,O,O,A,A,A,A,A,A
7,01/02/2023 09:45:21,31448,Male,9.8,8.48,9.7,B,C,A,C,...,A,B,A,B,B,B,B,B,B,B
8,01/02/2023 09:48:13,31436,Male,9.8,8.0,8.6,B,B,B,B,...,C,O,A,A,A,A,A,A,A,A
9,01/02/2023 09:49:38,31433,Male,10.0,9.3,9.86,O,O,B,C,...,O,O,O,A,O,O,O,O,O,O
10,01/02/2023 09:53:00,31475,Male,10.0,9.0,9.55,A,A,B,B,...,B,A,B,A,O,O,O,O,O,O
11,01/02/2023 09:53:33,31474,Male,9.0,8.3,8.0,C,B,B,B,...,A,A,A,O,A,A,A,A,A,A
12,01/02/2023 09:55:21,31420,Male,9.6,8.0,9.09,A,B,A,A,...,A,A,A,A,B,B,B,B,B,B
13,01/02/2023 10:59:57,31464,Male,6.65,8.14,7.23,B,B,B,B,...,B,B,A,F,C,C,C,C,C,C
14,01/02/2023 12:45:41,31468,Female,Female,8.63,9.59,A,B,O,O,...,A,O,O,O,A,A,A,A,A,A
15,01/02/2023 13:11:48,31435,Male,9.0,8.6,9.45,O,C,C,B,...,A,A,A,O,B,B,B,B,B,B
16,01/02/2023 14:54:42,31427,Male,10.0,9.27,9.77,O,O,B,A,...,O,A,O,O,A,A,A,A,A,A
17,01/02/2023 18:47:04,31426,Female,Female,7.96,8.82,O,D,B,C,...,B,A,O,O,B,B,B,B,B,B
18,02/02/2023 09:23:46,31458,Female,9.98,9.45,8.0,A,B,B,A,...,A,B,A,A,A,A,A,A,A,A
19,02/02/2023 09:26:12,31455,Male,10.0,8.57,9.16,B,A,B,B,...,A,B,A,A,A,A,A,A,A,A
20,02/02/2023 09:28:10,31451,Male,Male,8.8,9.8,B,C,O,D,...,B,C,D,A,D,D,D,D,D,D
21,02/02/2023 13:08:47,31406,Male,10.0,9.98,9.5,B,A,A,B,...,A,O,B,A,A,A,A,A,A,A
22,02/02/2023 13:34:42,31462,Male,9.82,8.43,9.59,O,B,D,D,...,A,A,A,B,A,A,A,A,A,A
23,02/02/2023 14:08:01,31425,Male,9.93,9.26,10.0,A,A,O,O,...,B,A,A,A,B,B,B,B,B,B
24,14/02/2023 12:09:19,31413,Female,10.0,9.3,9.55,A,A,A,B,...,A,A,O,O,A,A,A,A,A,A